/* --- FORM CARD --- */
.form-container {
    background: #fff;
    padding: 4vh 3vw;
    border-radius: 0.8vw;
    box-shadow: 0 0.4vw 2vw rgba(0,0,0,0.8);
    max-width: 77vw;
    margin: 0 auto;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 50px;
    max-height: 200px;
}

.attachment {
    max-width: 50%;
}

.form-group {
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.form-group label {
    font-size: 0.85vw;
    font-weight: 700;
    color: #555;
}

.form-group input, 
.form-group select, 
.form-group textarea {
    padding: 1.5vh 1vw;
    border: 1px solid #ddd;
    border-radius: 0.4vw;
    font-size: 0.9vw;
    outline: none;
    transition: border 0.2s;
}

.form-group input:focus, 
.form-group textarea:focus {
    border-color: #0b4a7a;
}

.inline {
    display: flex; gap: 15px;
}

.inline-item {
    flex: 1;
}

/* --- BUTTONS --- */
.form-footers {
    display: flex;
    justify-content: flex-end;
    gap: 1vw;
    margin-top: 2vh;
    z-index: 10000px !important;
}

.btn-submit {
    background: #59b2e2;
    color: white;
    border: none;
    padding: 1.5vh 2vw;
    border-radius: 1.5vw;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.btn-cancel {
    background: #e9676b;
    color: #fff;
    border: none;
    padding: 1.5vh 2vw;
    border-radius: 1.5vw;
    font-weight: 700;
    cursor: pointer;
}

.btn-submit:hover { background: #08365a; }
.btn-cancel:hover { background: #743335; }

