.page-title{
    font-weight:800;
    font-size:1.4vw;
    margin-bottom:4vh;
    color:#333;
}


.summary-container{
    background:#fff;
    border-radius:1vw;
    box-shadow:0 0.4vw 1.5vw rgba(0,0,0,0.05);
    padding:5vh 4%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:5vh;
    border: 1px solid #eee;
}


.summary-left{
    display:flex;
    align-items:center;
    gap:2.5vw;
    width:60%;
}


.summary-avatar{
    width:9vw;
    height:9vw;
    border-radius:50%;
    background:#0b4a7a;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    box-shadow: 0 0.5vw 1.5vw rgba(11, 74, 122, 0.2);
}


.summary-avatar i{ font-size:5vw; }


.summary-info h2{
    font-size:2vw;
    margin-bottom:0.5vh;
    color:#0b4a7a;
    font-weight: 800;
}


.summary-info span{
    font-size:1vw;
    font-weight:700;
    color:#888;
    text-transform: uppercase;
    letter-spacing: 0.05vw;
}


.summary-report{
    margin-top:3vh;
    font-size:0.9vw;
    line-height:1.8;
    color:#555;
}


.summary-report b{
    display:inline-block;
    font-size:1.3vw;
    color:#0b4a7a;
    margin-left: 0.5vw;
}


.chart-box{
    width: 40%;
    height:27vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap:1vh;
    color:#0b4a7a;
    font-weight:700;
    padding: .3%;
}


.table-box{
    background:#fff;
    border-radius:1vw;
    box-shadow:0 0.4vw 1.5vw rgba(0,0,0,0.05);
    padding:4vh 3%;
    border: 1px solid #eee;
}


table{
    width:100%;
    border-collapse:collapse;
}

th{
    text-align:left;
    font-size:0.85vw;
    padding-bottom:2.5vh;
    color:#0b4a7a;
    text-transform:uppercase;
    letter-spacing:0.1vw;
    font-weight: 800;
}


td{
    padding:2.5vh 0;
    border-top:1px solid #f0f0f0;
    font-size:0.95vw;
    color:#444;
    font-weight: 600;
}


.performance-tag{
    padding:0.6vh 1.2vw;
    border-radius:0.4vw;
    font-weight:800;
    font-size:0.75vw;
    text-transform: uppercase;
}


.excellent { background:#e7f3ef; color:#2d6a4f; }
.good { background:#d7ffaa; color:#2d6a4f; }
.poor { background:#ff5959; color:#ffe0e0; }
