/* :root {
    --bg: #f5f7fa;
    --card-bg: #ffffff;
    --text: #222;
    --text-muted: #666;
    --border: #ddd;

    --primary : #0b4a7a; // this is all the i fas fa classes (icons)
}

 body.dark-mode {
    --bg: #2c2c2c;
    --card-bg: #1e1e1e;
    --text: #e0e0e0;
    --text-muted: #aaa;
    --border: #333;

    --primary: #fff; // this is all the i fas fa classes (icons)
} 
    // for darkmode
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
    scrollbar-color: #e7ebfa #224b7a;
}

a {
    text-decoration: none;
}

body {
    overflow: hidden !important;
    max-width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
    position: relative;
    z-index: 0;
}

#altBody{
    background: linear-gradient(to bottom, rgb(75, 95, 134), rgb(255, 255, 255));

}

.pageHeadText, #pageHeadText {
    padding: 3%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
}

.sidebar {
    background: var(--bg);
}

.content {
    flex: 1;
    padding: 4vh 3%;
    overflow-y: auto;
    height: 100%;
}

.page-header {
    display: flex;
    align-items: center;
    width: 40%;
    gap: 0.8vw;
    font-weight: 800;
    font-size: 1.8vw;
    margin-bottom: 3vh;
    color: #0b4a7a;
    cursor: pointer;
    transition: 0.2s;
}

.page-header:hover {
    transform: translateX(-5px);
}

/* For Background */
.ball {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    transform: scale(2);
    will-change: transform;
    background: rgb(169, 73, 193);
    background: radial-gradient(circle, rgb(37, 6, 109) 0%, rgb(0, 51, 255) 100%);
    filter: blur(70px);
    opacity: 0.7;
    z-index: -1; 
    pointer-events: none;
}